PORT=ENTER YOUR PORT NUMBER
DB_CONNECTION_STRING=ENTER YOUR NEONDB CONNECTION DB_CONNECTION_STRING
JWT_ACCESS_SECRET_TOKEN=ENTER YOUR JWT ACCESS SECRET KEY
JWT_REFRESH_SECRET_TOKEN=ENTER YOU JWT REFRESH SECRET KEY
NODE_ENV=development
